fastapi
uvicorn
mcp
langchain
langchain-core==0.3.79
langchain-openai==0.3.35
langchain-community
langchainhub
tavily-python
langgraph-checkpoint-sqlite
langgraph==0.3.5
langgraph-supervisor==0.0.25
langchain-mcp-adapters==0.1.12
monocle_apptrace
