fastapi==0.135.3
uvicorn==0.44.0
python-dotenv==1.2.2
mcp==1.27.0
langchain==1.2.15
langchain-core==1.2.27
langchain-openai==1.1.12
langchain-community==0.4.1
langchainhub==0.1.21
tavily-python==0.7.23
langgraph-checkpoint-sqlite==3.0.3
langgraph==1.1.5
langgraph-supervisor==0.0.31
langchain-mcp-adapters==0.2.2
monocle-apptrace==0.8.0
monocle-test-tools==0.8.0