name: Okahu Demos LG Travel Agent Tests
permissions:
    contents: read
on:
    push:
        branches:
            - "ashokan/upgrade-monocle"
    workflow_dispatch:
        inputs:
            export_failed_tests_only:
                description: "Export only failed test traces to Okahu"
                default: true
                type: boolean

# Define concurrency group based on workflow name
concurrency:
    group: ${{ github.workflow }}
    cancel-in-progress: false # Set to true if you want to cancel running workflows instead of queuing

env:
    OKAHU_API_KEY: ${{ secrets.OKAHU_API_KEY }}
    OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    MONOCLE_EXPORTER: ${{ secrets.MONOCLE_EXPORTER }}
    OKAHU_INGESTION_ENDPOINT: ${{ secrets.OKAHU_INGESTION_ENDPOINT }}
    MONOCLE_EXPORT_FAILED_TESTS_ONLY: ${{ inputs.export_failed_tests_only }}

jobs:
    okahu_demos_lg_travel_agent_tests:
        name: Run Okahu Demos LG Travel Agent Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout (GitHub)
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0 # Needed for detecting changed files

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install dependencies and run tests
              run: |
                  pip install -r requirements.txt
                  pip install -r tests/requirements.txt
                  python weather-mcp-server.py &
                  python -m pytest tests/test_lg_travel_agent.py -vv --log-cli-level=DEBUG --junit-xml=test_okahu_demos_lg_travel_agent-results.xml

            - name: Test Summary
              id: test_summary
              uses: test-summary/action@v2
              with:
                  paths: "test_okahu_demos_lg_travel_agent-results.xml"
              if: always()
